<%if logged_in? %>

<%= simple_form_for profile do |f| %>
<% if profile.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.input :first_name, placeholder: 'First Name' %>

<%= f.input :last_name, placeholder: 'Last Name' %>

<%= f.input :phone_no, placeholder: 'Phone' %>

<%= f.input :email, placeholder: 'Email' %>

<%= f.input :url, placeholder: 'URL' %>

<%= f.input :account_id, :as => :hidden, :input_html => { :value => current_user.id } %>

<%#= f.input :account_id, :as => :hidden, :value => account_id %>

<%= f.button :submit %>

<% end %>

<%end%>
<%else%>

Please log in to view this page 

<%end%>

