
<%= simple_form_for account do |f| %>

  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

  <%= f.input :email, placeholder: 'Enter email' %>
  <br>

  <%= f.input :password, placeholder: 'Password' %>
  <br>
  <%= f.input :password_confirmation, placeholder: 'Password Confirmation' %>
  <br>
  <%= f.input :role %>
  <br>
  <%#= f.input :choices, as: :check_boxes,
    collection: ["Option one is this and that—be sure to include why it's great", "Option two can be something else and selecting it will deselect option one"] %>

  <%#= f.input :sex, as: :radio_buttons,
    collection: ["Male", "Female"] %>

  <%= f.button :submit %>

  </fieldset>
<% end %>